@model IEnumerable<WishList.Models.ProductLink>

@{
    ViewBag.Title = "Index";
}

<h2>Links for @ViewBag.product.Name</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("LinksTable", Model)

<br />
<br />
@Html.ActionLink("Back to Products", "Index", "Product", null, null)
